<section class="configurator">
    <div class="configurator__content">
        <div class="configurator__text-content">
            <h2 class="small-heading configurator__small-heading">
                онлайн конфигуратор
            </h2>
            <h3 class="standard-heading configurator__large-heading">
                Соберите собственное оборудование
            </h3>
            <div class="configurator__text">
                И скачайте PDF-документ с его<br> сметой
            </div>
            <a href="#" class="btn configurator__btn">
                Перейти в конфигуратор
            </a>
        </div>
        <div class="configurator__image-wrapper">

            <picture>
                <source srcset="/images/configurator-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/configurator.webp" alt="MDN" class="configurator__image" />
            </picture>
        </div>
    </div>
</section>