<header class="page-header">
    <div class="page-header__content">
        <div class="page-header__mobile-row">


            <a href="/" class="page-header__logo">
                <img src="/images/logo.svg" alt="" class="page-header__logo-image">
            </a>
            <div class="page-header__mobile-slogan">
                Производство вычислительной<br>
                и компьютерной<br>
                техники с 1951 года
            </div>
            <a href="#" class="page-header__mobile-lang">
                ENG
            </a>
            <button class="page-header__mobile-burger">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#burger"></use>
                </svg>
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#burger-close"></use>
                </svg>
            </button>
        </div>
        <div class="page-header__wrapper">
            <div class="page-header__wrapper-inner">


                <div class="page-header__top">
                    <div class="page-header__slogan">
                        Производство вычислительной и компьютерной
                        техники с 1951 года
                    </div>
                    <div class="page-header__phone-wrapper">


                        <a href="#" class="page-header__phone">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#phone"></use>
                            </svg>
                        </a>
                        <div class="page-header__contacts-dropdown">
                            <div class="page-header__contacts-dropdown-inner">
                                <div class="page-header__contacts-wrapper">
                                    <a href="tel:+78002014848" class="page-header__contacts-phone">+7 800 201-48-48</a>
                                    <div class="page-header__schedule">
                                        Ежедневно 9:00 — 19:00
                                    </div>
                                    <a href="mailto:sales@icl.kazan.ru"
                                        class="page-header__email">sales@icl.kazan.ru</a>
                                </div>
                                <ul class="page-header__contacts-social-list">
                                    <li class="page-header__contacts-social-list-item">
                                        <a href="#" class="page-header__contacts-social-link">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#vk"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="page-header__contacts-social-list-item">
                                        <a href="#" class="page-header__contacts-social-link">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#telegram"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="page-header__contacts-social-list-item">
                                        <a href="#" class="page-header__contacts-social-link">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#rutube"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="page-header__search">
                        <form action="/" class="page-header__search-form">
                            <div class="page-header__search-form-wrapper">
                                <div class="page-header__search-form-padding-wrapper">


                                    <div class="page-header__search-form-wrapper-inner">


                                        <button class="page-header__search-submit">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#search"></use>
                                            </svg>
                                        </button>
                                        <input type="search" class="page-header__search-input" name="q"
                                            placeholder="Поиск по сайту">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <button class="page-header__search-toggle-btn">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#search"></use>
                            </svg>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#close"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="page-header__write-us-wrapper">


                        <a href="#" class="page-header__write-us">
                            написать нам
                        </a>

                    </div>
                    <a href="#" class="page-header__language">
                        ENG
                    </a>
                </div>
                <div class="page-header__bottom">
                    <div class="page-header__nav">
                        <ul class="page-header__nav-list">
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    О компании
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#menu-arrow"></use>
                                    </svg>
                                </a>
                                <div class="page-header__nav-submenu">
                                    <div class="page-header__nav-submenu-inner">
                                        <ul class="page-header__nav-submenu-list">
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#info"></use>
                                                    </svg>
                                                    общая информация
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#history"></use>
                                                    </svg>
                                                    История
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#news"></use>
                                                    </svg>
                                                    Новости
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#vacancies"></use>
                                                    </svg>
                                                    Вакансии
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    Продукция
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#menu-arrow"></use>
                                    </svg>
                                </a>
                                <div class="page-header__nav-submenu">
                                    <div class="page-header__nav-submenu-inner">
                                        <ul class="page-header__nav-submenu-list">
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#desktop"></use>
                                                    </svg>
                                                    Настольные системы
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#monitors"></use>
                                                    </svg>
                                                    Мониторы
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#mobile"></use>
                                                    </svg>
                                                    Мобильные системы
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#server"></use>
                                                    </svg>
                                                    Серверные системы и Схд
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#interactive"></use>
                                                    </svg>
                                                    Интерактивные системы
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#multifunc"></use>
                                                    </svg>
                                                    Многофункциональные терминалы
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    Решения
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#menu-arrow"></use>
                                    </svg>
                                </a>
                                <div class="page-header__nav-submenu">
                                    <div class="page-header__nav-submenu-inner">
                                        <ul class="page-header__nav-submenu-list">
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#education"></use>
                                                    </svg>
                                                    Образование
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#healthcare"></use>
                                                    </svg>
                                                    Здравоохранение
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#infra"></use>
                                                    </svg>
                                                    Инфаструктурные решения
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#retail"></use>
                                                    </svg>
                                                    Розничная торговля
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#protected"></use>
                                                    </svg>
                                                    Защищенные решения
                                                </a>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    Поддержка
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#menu-arrow"></use>
                                    </svg>
                                </a>
                                <div class="page-header__nav-submenu">
                                    <div class="page-header__nav-submenu-inner">
                                        <ul class="page-header__nav-submenu-list">
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#service-center"></use>
                                                    </svg>
                                                    Сервисные центры
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#drivers"></use>
                                                    </svg>
                                                    Драйверы
                                                </a>
                                            </li>
                                            <li class="page-header__nav-submenu-list-item">
                                                <a href="#" class="page-header__nav-submenu-link">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#status"></use>
                                                    </svg>
                                                    Статус сервисной заявки
                                                </a>
                                            </li>




                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    Конфигуратор

                                </a>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    Партнерам

                                </a>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    Услуги

                                </a>
                            </li>
                            <li class="page-header__nav-list-item">
                                <a href="#" class="page-header__nav-link">
                                    Контакты

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>