<section class="numbers">
    <div class="numbers__content">
        <h2 class="small-heading numbers__small-heading">
            О компании
        </h2>
        <div class="numbers__wrapper">
            <h2 class="standard-heading numbers__large-heading">
                ICL в цифрах
            </h2>
            <div class="numbers__slider js-numbers-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="numbers__slider-card">
                                <img src="/images/numbers/1.svg" alt="" class="numbers__slider-card-icon">
                                <div class="numbers__slider-card-amount">
                                    32
                                </div>
                                <div class="numbers__slider-card-text">
                                    Года в индустрии<br>
                                    компьютерных технологий
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="numbers__slider-card">
                                <img src="/images/numbers/2.svg" alt="" class="numbers__slider-card-icon">
                                <div class="numbers__slider-card-amount">
                                    3 500+
                                </div>
                                <div class="numbers__slider-card-text">
                                    Сотрудников<br>
                                    в штате
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="numbers__slider-card">
                                <img src="/images/numbers/3.svg" alt="" class="numbers__slider-card-icon">
                                <div class="numbers__slider-card-amount">
                                    7
                                </div>
                                <div class="numbers__slider-card-text">
                                    Офисов в городах<br>
                                    России
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="numbers__slider-card">
                                <img src="/images/numbers/4.svg" alt="" class="numbers__slider-card-icon">
                                <div class="numbers__slider-card-amount">
                                    1 млн.
                                </div>
                                <div class="numbers__slider-card-text">
                                    Производство изделий<br>
                                    в год
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="numbers__slider-card">
                                <img src="/images/numbers/5.svg" alt="" class="numbers__slider-card-icon">
                                <div class="numbers__slider-card-amount">
                                    500
                                </div>
                                <div class="numbers__slider-card-text">
                                    Партнёров в России<br>
                                    и зарубежом
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="numbers__slider-card">
                                <img src="/images/numbers/6.svg" alt="" class="numbers__slider-card-icon">
                                <div class="numbers__slider-card-amount">
                                    1 900+
                                </div>
                                <div class="numbers__slider-card-text">
                                    Заказчиков из разных<br>
                                    сфер
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="outline-btn numbers__btn">
                Подробнее о компании
            </a>
        </div>
    </div>
</section>