<section class="production">
    <div class="production__content">
        <h2 class="small-heading production__small-heading">
            Каталог
        </h2>
        <div class="production__wrapper">
            <h2 class="standard-heading production__large-heading">
                Линейка продукции<br>
                ICL Техно
            </h2>
            <ul class="production__list">
                <li class="production__list-item production__list-item--wide">
                    <div class="production__card production__card--white">
                        <picture>
                            <source srcset="/images/production/1-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/production/1.webp" alt="MDN" class="production__card-bg" />
                        </picture>
                        <img src="/images/production/1.svg" alt="" class="production__card-icon">
                        <h3 class="production__card-title">
                            Настольные системы
                        </h3>
                        <div class="production__card-text">
                            Линейка настольных компьютеров ICL Техно настолько широка, что может быть полезна и дома и в
                            офисе.
                        </div>
                        <div class="production__card-tags">
                            <div class="production__card-tags-wrapper">
                                <ul class="production__card-tags-list">
                                    <li class="production__card-tags-list-item">
                                        <a href="#" class="production__card-tag">
                                            APM
                                        </a>
                                    </li>
                                    <li class="production__card-tags-list-item">

                                        <a href="#" class="production__card-tag">
                                            Моноблок
                                        </a>
                                    </li>
                                    <li class="production__card-tags-list-item">

                                        <a href="#" class="production__card-tag">
                                            Рабочая станция
                                        </a>
                                    </li>
                                    <li class="production__card-tags-list-item">

                                        <a href="#" class="production__card-tag">
                                            Системный блок
                                        </a>
                                    </li>
                                    <li class="production__card-tags-list-item">

                                        <a href="#" class="production__card-tag">
                                            Тонкий клиент
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="production__list-item">
                    <div class="production__card">

                        <picture>
                            <source srcset="/images/production/1-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/solutions/2.webp" alt="MDN" class="production__card-bg" />
                        </picture>
                        <img src="/images/production/2.svg" alt="" class="production__card-icon">
                        <h3 class="production__card-title">
                            Мониторы
                        </h3>
                        <div class="production__card-text">
                            Универсальные мониторы ICL – это высокое разрешение и впечатляющая
                            цветопередача
                        </div>
                        <div class="production__card-tags">
                            <div class="production__card-tags-wrapper">
                                <ul class="production__card-tags-list">
                                    <li class="production__card-tags-list-item">

                                        <a href="#" class="production__card-tag">
                                            23.8&nbsp;″
                                        </a>
                                    </li>
                                    <li class="production__card-tags-list-item">

                                        <a href="#" class="production__card-tag">
                                            27&nbsp;″
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="production__list-item">
                    <div class="production__card">
                        <picture>
                            <source srcset="/images/production/1-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/solutions/2.webp" alt="MDN" class="production__card-bg" />
                        </picture>
                        <img src="/images/production/3.svg" alt="" class="production__card-icon">
                        <h3 class="production__card-title">
                            Мобильные системы
                        </h3>
                        <div class="production__card-text">
                            Кто мобилен, тот и успешен. Теперь ваши лучшие помощники в работе и учебе – легкие и
                            производительные мобильные устройства ICL
                        </div>
                        <div class="production__card-tags">
                            <div class="production__card-tags-wrapper">
                                <ul class="production__card-tags-list">
                                    <li class="production__card-tags-list-item">

                                        <a href="#" class="production__card-tag">
                                            Планшеты
                                        </a>
                                    </li>
                                    <li class="production__card-tags-list-item">

                                        <a href="#" class="production__card-tag">
                                            ноутбуки
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="production__list-item">
                    <div class="production__card production__card--red">
                        <picture>
                            <source srcset="/images/production/1-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/solutions/2.webp" alt="MDN" class="production__card-bg" />
                        </picture>
                        <img src="/images/production/4.svg" alt="" class="production__card-icon">
                        <h3 class="production__card-title">
                            Интерактивные системы
                        </h3>
                        <div class="production__card-text">
                            Кто мобилен, тот и успешен. Теперь ваши лучшие помощники в работе и учебе – легкие и
                            производительные мобильные устройства ICL
                        </div>
                        <div class="production__card-tags">
                            <div class="production__card-tags-wrapper">
                                <ul class="production__card-tags-list">
                                    <li class="production__card-tags-list-item">

                                        <a href="#" class="production__card-tag">
                                            65&nbsp;″
                                        </a>
                                    </li>
                                    <li class="production__card-tags-list-item">

                                        <a href="#" class="production__card-tag">
                                            75&nbsp;″
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="production__list-item">
                    <div class="production__card">
                        <picture>
                            <source srcset="/images/production/1-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/solutions/2.webp" alt="MDN" class="production__card-bg" />
                        </picture>
                        <img src="/images/production/5.svg" alt="" class="production__card-icon">
                        <h3 class="production__card-title">
                            Серверные системы и СХД
                        </h3>
                        <div class="production__card-text">
                            Отказоустойчивость и надежность – главные характеристики оборудования ICL для любых операций
                            с данными
                        </div>
                        <div class="production__card-tags">
                            <div class="production__card-tags-wrapper">
                                <ul class="production__card-tags-list">
                                    <li class="production__card-tags-list-item">

                                        <a href="#" class="production__card-tag">
                                            Сервер
                                        </a>
                                    </li>
                                    <li class="production__card-tags-list-item">

                                        <a href="#" class="production__card-tag">
                                            СХД
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="production__list-item production__list-item--wide">
                    <div class="production__card production__card--white">
                        <picture>
                            <source srcset="/images/production/2-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/production/2.webp" alt="MDN" class="production__card-bg" />
                        </picture>
                        <img src="/images/production/6.svg" alt="" class="production__card-icon">
                        <h3 class="production__card-title">
                            Многофункциональные терминалы
                        </h3>
                        <div class="production__card-text">
                            Многофункциональные терминалы для эффективных коммуникаций и качественных цифровых услуг во
                            многих сферах жизни.
                        </div>
                        <div class="production__card-tags">
                            <div class="production__card-tags-wrapper">
                                <ul class="production__card-tags-list">
                                    <li class="production__card-tags-list-item">

                                        <a href="#" class="production__card-tag">
                                            17.3&nbsp;″
                                        </a>
                                    </li>
                                    <li class="production__card-tags-list-item">

                                        <a href="#" class="production__card-tag">
                                            19&nbsp;″
                                        </a>
                                    </li>
                                    <li class="production__card-tags-list-item">

                                        <a href="#" class="production__card-tag">
                                            32&nbsp;″
                                        </a>
                                    </li>
                                    <li class="production__card-tags-list-item">

                                        <a href="#" class="production__card-tag">
                                            42&nbsp;″
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>