<section class="solutions">
    <div class="solutions__content">
        <h2 class="small-heading solutions__small-heading">
            Наши продукты
        </h2>
        <div class="solutions__wrapper">
            <h2 class="standard-heading solutions__large-heading">
                Ключевые решения<br>
                по отраслям
            </h2>
            <ul class="solutions__list">
                <li class="solutions__list-item solutions__list-item--large">
                    <a href="#" class="solutions__card solutions__card--with-image">
                        <div class="solutions__card-bg">

                            <picture>
                                <source srcset="/images/solutions/1-mobile.webp" media="(max-width: 640px)" />
                                <img src="/images/solutions/1.webp" alt="MDN" class="solutions__card-bg-image" />
                            </picture>
                        </div>
                        <div class="solutions__card-content">
                            <h3 class="solutions__card-title">
                                Образование
                            </h3>
                            <div class="solutions__card-text">
                                Решения ICL для сферы образования призваны повысить эффективность процесса обучения как
                                для педагогов, так и для учащихся.
                            </div>
                            <div class="solutions__card-more">
                                <span class="solutions__card-more-text">
                                    Перейти в раздел
                                </span>
                                <span class="solutions__card-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <div class="solutions__list-item">
                    <a href="#" class="solutions__card solutions__card--image-on-hover">
                        <div class="solutions__card-bg">

                            <picture>

                                <img src="/images/solutions/2.webp" alt="MDN" class="solutions__card-bg-image" />
                            </picture>
                        </div>
                        <div class="solutions__card-content">
                            <h3 class="solutions__card-title">
                                Здравоохранение
                            </h3>

                            <div class="solutions__card-more">
                                <span class="solutions__card-more-text">
                                    Перейти в раздел
                                </span>
                                <span class="solutions__card-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="solutions__list-item">
                    <a href="#" class="solutions__card solutions__card--red solutions__card--image-on-hover">
                        <div class="solutions__card-bg">

                            <picture>

                                <img src="/images/solutions/2.webp" alt="MDN" class="solutions__card-bg-image" />
                            </picture>
                        </div>
                        <div class="solutions__card-content">
                            <h3 class="solutions__card-title">
                                Инфраструктурные решения
                            </h3>

                            <div class="solutions__card-more">
                                <span class="solutions__card-more-text">
                                    Перейти в раздел
                                </span>
                                <span class="solutions__card-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="solutions__list-item">
                    <a href="#" class="solutions__card solutions__card--black solutions__card--image-on-hover">
                        <div class="solutions__card-bg">

                            <picture>

                                <img src="/images/solutions/2.webp" alt="MDN" class="solutions__card-bg-image" />
                            </picture>
                        </div>
                        <div class="solutions__card-content">
                            <h3 class="solutions__card-title">
                                Розничная торговля
                            </h3>

                            <div class="solutions__card-more">
                                <span class="solutions__card-more-text">
                                    Перейти в раздел
                                </span>
                                <span class="solutions__card-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="solutions__list-item">
                    <a href="#" class="solutions__card solutions__card--image-on-hover">
                        <div class="solutions__card-bg">

                            <picture>

                                <img src="/images/solutions/2.webp" alt="MDN" class="solutions__card-bg-image" />
                            </picture>
                        </div>
                        <div class="solutions__card-content">
                            <h3 class="solutions__card-title">
                                Защищенные<br>
                                решения
                            </h3>

                            <div class="solutions__card-more">
                                <span class="solutions__card-more-text">
                                    Перейти в раздел
                                </span>
                                <span class="solutions__card-more-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </ul>
        </div>
    </div>
</section>