<section class="why-us">
    <div class="why-us__content">
        <h2 class="small-heading why-us__small-heading">
            Почему мы?
        </h2>
        <div class="why-us__wrapper">
            <h3 class="standard-heading why-us__large-heading">
                Создаем решения любой сложности за счет интеграции<br>
                c <b>ГК&nbsp;ICL</b>
            </h3>
            <div class="why-us__text">
                И еще 4 причины сотрудничать именно с нами
            </div>
            <ul class="why-us__list">
                <li class="why-us__list-item">
                    <div class="why-us__card">
                        <img src="/images/why-us/1.svg" alt="" class="why-us__card-icon">
                        <h4 class="why-us__card-title">
                            Высокое качество
                        </h4>
                        <div class="why-us__card-text">
                            ~ 0,74% обращений в СЦ за последние 3 года
                        </div>
                    </div>
                </li>
                <li class="why-us__list-item">
                    <div class="why-us__card">
                        <img src="/images/why-us/2.svg" alt="" class="why-us__card-icon">
                        <h4 class="why-us__card-title">
                            Гибкие финансовые условия
                        </h4>

                    </div>
                </li>
                <li class="why-us__list-item">
                    <div class="why-us__card">
                        <img src="/images/why-us/3.svg" alt="" class="why-us__card-icon">
                        <h4 class="why-us__card-title">
                            Расширенное сервисное обслуживание
                        </h4>
                        <div class="why-us__card-text">
                            NBD 24/7
                        </div>
                    </div>
                </li>
                <li class="why-us__list-item">
                    <div class="why-us__card">
                        <img src="/images/why-us/4.svg" alt="" class="why-us__card-icon">
                        <h4 class="why-us__card-title">
                            Кастомизация под индивидуальные требования заказчика
                        </h4>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>